body{
    background-color: #0e1116;
}
.top{
    margin-top: -1.5vh;
    height: 100vh;
    margin-left: -1vw;
    margin-right: -0.5vw;
    background-color: #0e1116;
}
.top-nav{
    position: relative;
    top: 7%;
    left: 10%;
    display: grid;
    grid-template-columns: auto 1fr auto;
    background-color: #181d25;
    width: 70vw;
    text-align: center;
    padding: 0 5vw;
    border-radius: 15px;
    box-shadow: 3px 5px 5px rgba(255, 255, 255, 0.048);
}
#nav-logo{
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: 900;
    color: whitesmoke;
}
.top-links{
    text-decoration: none;
    color: whitesmoke;
    margin-left: 2vw;
    margin-top: 3.5vh;
    padding: 1vh;
}
.top-links:hover{
    background-color:rgba(248, 248, 255, 0.187) ;
    border-radius: 10px;
}
#reg{
    padding: 1vh 3vw;
    background-color: #2c3e5029;
    border-radius: 10px;
}
#reg:hover{
    background-color: rgba(248, 248, 255, 0.187);
}
#desc{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 8vh;
}
#desc img{
    height: 60vh;
    color: transparent;
}
#desc div{
    text-align: center;
}
#desc div p{
    color: white;
    font-size: large;       
}
#desc div button{
    padding: 1.5vw 4vw;
}