:root{
    --primary:#262b36;
    --secondary:#30343f;
    --background:#0e1116;
    --text:#ffffff;
    --color1:#39304c;
}
body{
    background-color: var(--primary);
    color: var(--text);
}
.top{
    margin-top: -1.5vh;
    height: 100vh;
    margin-left: -1vw;
    margin-right: -0.5vw;
    background-color: var(--background);
}
.top-nav{
    position: relative;
    top: 5%;
    left: 10%;
    display: grid;
    grid-template-columns: auto 1fr auto;
    background-color:var(--primary);
    width: 70vw;
    text-align: center;
    padding-left:5vw;
    padding-right:5vw;
    border-radius: 15px;
    box-shadow: 4px 1px 5px white;
}
#nav-logo{
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: 900;
    color: whitesmoke;
}
#top-a{
    margin-top: 4vh;
}
.top-links{
    text-decoration: none;
    color: whitesmoke;
    margin-left: 2vw;
    padding: 1vh;
}
.top-links:hover{
    background-color:rgba(248, 248, 255, 0.187) ;
    border-radius: 10px;
}
#reg{
    padding: 1vh 3vw;
    background-color:#0e1116;
    border-radius: 10px;
}
#reg:hover{
    background-color: rgba(248, 248, 255, 0.187);
}
#desc{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 6vh;
}
#desc img{
    height: 60vh;
    color: transparent;
}
#desc div{
    text-align: center;
}
#desc div p{
    color: white;
    font-size: large;  
    font-family:'Times New Roman', Times, serif;     
}
#btn1{
    background-color: #262b36;
    border-radius: 7px;
    color: white;
    padding: 10px 2vw;
    text-decoration: none;
    animation: ease-in-out 600ms;
    transition: all 600ms ease-in-out;
}
#btn2{
    padding: 10px 2vw;
    background-color: white;
    color: var(--primary);
    border-radius: 7px;
    text-decoration: none;
    transition: transform 600ms ease-in-out;
}
#btn1:hover{
    text-decoration: underline;
}
#btn2:hover{
    text-decoration: underline;
}
.figs{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5vw;
    text-align: center;
    margin-top: 10vh;
    font-size: 2.5vh;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.vert-line{
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding: 0 3vw;
}
#nums{
    font-weight: 800;
    font-size: 3vh;
}
#disc{
    background: linear-gradient( to right, #0e1116 60%, /* dominant dark tone */ #0e1116b7 80%, /* transition graphite */ #b0b0b0 100% /* subtle metallic silver */ );    height: 90hv;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10vh;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 3vh;
}
#disc img,#disc div{
    margin-top: 20vh;
}
#disc div{
    position: relative;
    top: -10%;
}
.myforms{
    background-color: var(--background);
    display:flex;
    flex-direction: row;
    border: 1px solid black;
    height: 90vh;
    width: 60vw;
    align-items: center;
    margin-top: 5vh;
    border-radius: 20px;
}
.myforms form{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}